<!doctype html>
<html ng-app="plokiploki">
<head>
    <meta charset="utf-8"> 
    <title>Ploki poki - random password generator</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
    <script src="./angular.min.js"></script>
    <script src="./ploki.js"></script>
</head>
<body ng-controller="PlokiPlokiCtl">
<div id="forkme"><a href="about:blank" onclick="return false">Fork me on GitHub</a></div>
<p id="intro">
    Ploki ploki is a client side random password generator (for lazy folks)
</p>
<p id="blabla">
    Password generation is done via your browser only, nothing is done using a remote server, and no external provider is used.<br>
    If you don't trust this page (I wouldn't), you can always fork it on GitHub and use it locally.
</p>
<form ng-submit="genpassword()">
<input id="plokipass" type="text" ng-model="password" size="{{ passlength }}">

<div id="options">
    Generate a <select ng-model="passlength" ng-options="i for i in passlengths" ploki-wheel="passlengths"></select>
    characters password, with <select ng-model="speciallength" ng-options="i for i in speciallengths" ploki-wheel="speciallengths"></select> special characters
</div>

<input type="submit" value="Another!" id="another">
</form>
</body>
</html>
