@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans Mono'), local('DroidSansMono'), url(droidsansmono.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(opensans.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
}
p {
    padding: 0 20px;
}
#blabla {
    font-size: 14px;
}

#plokipass {
    font-size: 28px;
    font-family: 'Droid Sans Mono', monospace;
    margin: 20px 0 20px 0;
    padding: 0 10px;
    text-align: center;
}

select {
    border: 1px solid #6695ed;
    color: #4164a6;
    background: #fff;
}

#another {
    margin-top: 18px;
    font-size: 28px;
    border: 2px solid #4164a6;
    background-color: #4164a6;
    color: #eee;
    padding: 3px 15px 3px 15px;
}

#another:active {
    background-color: #4b6fb3;
}

#forkme {
    position: absolute;
    transform: rotate(45deg) translate(0px, 25px);
    -webkit-transform: rotate(45deg) translate(0px, 25px);
    top:    0;
    right:  0;
    width:  200px;
    height: 200px;
}

#forkme a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 4px 0;
    background-color: #4b61b3;
    border: 1px dashed #2b3866;
    box-shadow: 0px 0px 10px #888;
    overflow: hidden;
}
#forkme a:hover {
    background-color: #42569e;
}
#forkme a:active {
    padding: 4px 3px;
}

@media screen and (max-width:800px) {
    #forkme {
        position: absolute;
        transform: none;
        -webkit-transform: none;
        top: auto;
        bottom: -1px;
        right: 12px;
        width: auto;
        height: auto;
        z-index: -1;
    }
    #forkme a, #forkme a:active {
        padding: 2px 10px;
    }
}
